/* サムネイルとニュースエリアをflex */
.news_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 3rem;
}
.news_item:not(:last-of-type) {
}

/* サムネイル画像 */
.news_img {
  width: 50%;
}

/* ニュースエリア */
.news_info {
  margin: auto;
}

/* ┌─────────────────────────────────────────┐
   │ ページネーションエリア                        │
   └─────────────────────────────────────────┘ */

/* ページネーション全体 */
.pagination {
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* ページネーションの番号と矢印を〇にする */
.page-numbers {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 0.2rem solid black;
  border-radius: 50%;
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
}

/* 現在のページは黒く塗る */
.page-numbers.current {
  background-color: black;
  color: white;
}

/* ★「自動で出力されるHTML」: typeによってかわる
<nav class="navigation pagination">
  <div class="nav-links">
    <span class="page-numbers current">1</span>  ← 今のページ
    <a class="page-numbers" href="...">2</a>
    <a class="next page-numbers" href="...">次へ</a>
  </div>
</nav> */

/* echo paginate_links(array(
  'type' => 'list',   ← ここが重要
));

<ul class="page-numbers">   ← .nav-links は存在しない
  <li><span class="page-numbers current">1</span></li>
  <li><a class="page-numbers" href="...">2</a></li>
</ul> */

/* ┌─────────────────────────────────────────┐
   │ 新しく開始　テスト                        │
   └─────────────────────────────────────────┘ */

.category p {
  display: inline;
  margin: 0;
}

.archive_permalink {
  display: block;
  color: blue;
  font-weight: 600;
}

.archive_thumbnail {
  width: 20%;
  height: auto;
}

.archive_item {
  padding-bottom: 3rem;
}

.archive_main {
  display: flex; /* ← 追加 */
  flex-direction: column; /* ← 追加 */
}

.archive_section {
  display: flex;
  flex-direction: column;
}

.archive_category_item {
  font-size: 2rem;
  color: blue;
}

.archive_category_query {
  font-size: 2rem;
  color: green;
}

.archive_query_item {
  font-size: 2rem;
  color: green;
}
