/* サムネイルとニュースエリアをflex */
.news_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 3rem;
}
.news_item:not(:last-of-type) {
}

/* サムネイル画像 */
.news_img {
  width: 50%;
}

/* ニュースエリア */
.news_info {
  margin: auto;
}

.allCategory {
  color: red;
}

/* ┌─────────────────────────────────────────┐
   │ ページネーションエリア                        │
   └─────────────────────────────────────────┘ */

/* ページネーション全体 */
.pagination {
}

.page-numbers {
  border: 0.2rem solid black;
}

.page-numbers.current {
  background-color: black;
  color: white;
}

.page-numbers.prev,
.page-numbers.next {
}

/* ページネーションの番号と矢印を〇にする */
.page-numbers,
.page-numbers.prev,
.page-numbers.next {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 6rem;
  height: 6rem;
  border: 0.2rem solid black;
  border-radius: 50%;
  font-size: 4rem;
}

/* <nav class="navigation pagination" aria-label="投稿ナビゲーション">
  <div class="nav-links">
    <!-- 現在のページ -->
    <span aria-current="page" class="page-numbers current">1</span>
    
    <!-- 次のページへのリンク -->
    <a class="page-numbers" href="...">2</a>
    
    <!-- 次のページボタン -->
    <a class="next page-numbers" href="...">次へ</a>
  </div>
</nav> */

/* ┌─────────────────────────────────────────┐
   │ 新しく開始　テスト                        │
   └─────────────────────────────────────────┘ */
.title {
  font-size: 2rem;
}
.category p {
  display: inline;
  margin: 0;
}
