.pagination {
  border: 0.5rem solid red;
}

/* サムネイルとニュースエリアをflex */
.news_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}
.news_item:not(:last-of-type) {
  margin-bottom: 3rem;
}

/* サムネイル画像 */
.news_img {
  width: 50%;
}

/* ニュースエリア */
.news_info {
  margin: auto;
}

.page_numbers {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.1rem solid black;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;

  list-style: none;
}

.page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}
