.header {
  display: flex;
  width: 100%;
  background-color: #135580;
  color: #fff;
  font-size: 1.6rem;
  padding: 2rem;
  justify-content: space-between;
  font-weight: bold;
}

.header_nav_list {
  display: flex;
  gap: 2rem;
}

.page_title {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  padding: 5rem 0;
  background-image: url("../img/fv.jpg");
}

.header_nav ul {
  display: flex; /* 横並びにする */
  list-style: none; /* 点を消す */
  gap: 2rem; /* 間隔 */
}
